/*use to make the form closer to each other*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding-top: 80px; /* Add some padding to the top */
}
/*For Deskstop*/

@keyframes move-box-shadow {
  0% {
    box-shadow: 0 4px 10px rgba(74, 77, 255, 0.5),
      0 8px 20px rgba(138, 92, 240, 0.5);
  }
  50% {
    box-shadow: 0 6px 15px rgba(74, 77, 255, 0.6),
      0 12px 25px rgba(138, 92, 240, 0.6);
  }
  100% {
    box-shadow: 0 4px 10px rgba(74, 77, 255, 0.5),
      0 8px 20px rgba(138, 92, 240, 0.5);
  }
}
.login {
  width: 420px;
  height: 420px;
  background: #1e1e4e;
  color: #eeeff4;
  border-radius: 10px;
  padding: 30px 40px;
  border: 2px solid rgb(255, 255, 255, 0.3);
  backdrop-filter: blur(35px);
  backdrop-filter: blur(35px);
  animation: move-box-shadow 2s infinite ease-in-out;
}
/*for the title of form */
.login h1 {
  text-align: center;
  font-size: 36px;
}

.login .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid #eeeff4;
  border-radius: 50px;
  font-size: 16px;
  color: #eeeff4;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
  color: #eeeff4;
}
.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

/*for button */
.login .button {
  width: 100%;
  height: 45px;
  background: #c5b4e3;
  border: none;
  color: black;
  border-radius: 40px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.login .button:hover {
  background-color: #aab2d5;
}

/*For smartphone*/
@media screen and (max-width: 767px) {
  @keyframes move-box-shadow {
    0% {
      box-shadow: 0 4px 10px rgba(74, 77, 255, 0.5),
        0 8px 20px rgba(138, 92, 240, 0.5);
    }
    50% {
      box-shadow: 0 6px 15px rgba(74, 77, 255, 0.6),
        0 12px 25px rgba(138, 92, 240, 0.6);
    }
    100% {
      box-shadow: 0 4px 10px rgba(74, 77, 255, 0.5),
        0 8px 20px rgba(138, 92, 240, 0.5);
    }
  }
  .login {
    width: 380px;
    height: 500px;
    background: #1e1e4e;
    color: #eeeff4;
    border-radius: 10px;
    padding: 30px 40px;
    border: 2px solid rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(35px);
    backdrop-filter: blur(35px);
    animation: move-box-shadow 2s infinite ease-in-out;
  }
  .login h1 {
    text-align: center;
    font-size: 26px;
  }
  .login .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 35px 0;
  }

  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #eeeff4;
    border-radius: 50px;
    font-size: 14px;
    color: #eeeff4;
    padding: 20px 45px 20px 20px;
  }
  .input-box input::placeholder {
    color: #eeeff4;
  }
  .input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  }

  /*for button */
  .login .button {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background: #c5b4e3;
    border: none;
    color: black;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
  }
  .login .button:hover {
    background-color: #aab2d5;
  }
}
